<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/auth.css">
  </head>
  <body style="background-color: #EBF4FA;">
    <div class="box container">
      <!-- <img src="applogo.png" /> -->
      <form action="/login" method="POST">
        
        <!-- <img src="images/yugma.png" style="height: 100px; width: 300px; vertical-align: middle; margin-left: 70px; " /> -->

        <h2> Login</h2>
        <div class="login" style="margin-top: 44px">
          
          <!-- <label id="email">Email</label> -->
          <input name="email" type="email" placeholder="Email" class="input" required />
          <!-- <label id="password">Password</label> -->
          <input name="password" type="password" placeholder="Password" class="input" required />
          <br>
        </div>
        <div class="signin">
         
          <button style="align-self: center;" type="submit" class="btn"> Login </button>
          
        </div>
        <br><br>
          <a style="margin-left: 0px" href="/signup">Create account</a><br><br>
          <a style="margin-left: 0px" href="/">Home</a>
        <% if (errorMessage) { %>
        <center>
          <div style="height: 30px; color: red"><%= errorMessage %></div>
        </center>
        <% } %>
      </form>
      <br /><br /><br />
      <!-- <div>
        <a style="margin-left: 6px" href="/reset">Forgot Password?</a>
      </div> -->
    </div>
    
  </body>
</html>
