<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
</head>
<body>
    <h1> welcome to your own space</h1>
    <form action="/logout" method="GET">
        <div class="signin">
            <button style="align-self: center;" type="submit" class="btn"> Logout </button>
          </div>
    </form>
    <form action="/delete" method="GET">
      <div class="signin">
          <button style="align-self: center;" type="submit" class="btn"> Delete Account </button>
        </div>
  </form>
  <form action="/createGroup" method="POST">
    <div class="signin">
        <button style="align-self: center;" type="submit" class="btn"> Create Group </button>
      </div>
</form>
<form action="/joinGroup" method="POST">
  <div class="signin">
      <button style="align-self: center;" type="submit" class="btn"> Join Group </button>
    </div>
</form>
    
</body>
</html>