body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(174, 215, 228);
}

.topnav a {
  float: left;
  color: #575ec4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .groupname {
  float: left;
  color: #575ec4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #575ec4;
  color: rgb(174, 215, 228);
}

.topnav a.active {
  background-color: #1c27c0;
  color: #575ec4;
}
/* .vertical-menu {
  width: 200px;
} */

.vertical-menu a {
  background-color: rgb(107, 132, 201);
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}